[submodule "lib/dmod"]
	path = lib/dmod
	url = https://github.com/choco-technologies/dmod.git
[submodule "lib/dmlog"]
	path = lib/dmlog
	url = https://github.com/choco-technologies/dmlog.git
[submodule "lib/dmheap"]
	path = lib/dmheap
	url = https://github.com/choco-technologies/dmheap.git
[submodule "lib/dmvfs"]
	path = lib/dmvfs
	url = https://github.com/choco-technologies/dmvfs.git
[submodule "lib/dmenv"]
	path = lib/dmenv
	url = https://github.com/choco-technologies/dmenv.git
[submodule "modules/dmffs"]
	path = modules/dmffs
	url = https://github.com/choco-technologies/dmffs.git
